* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ENCABEZADO */
body{
    
    margin: 0;
    padding: 0;
    
    font-family: montserrat sans-serif;
    background-color:#5e0202 ;
}

#encabezado{
    background-color: #5e0202;
    ;
}

#nav{
    background-color:#a89c9c ;
    color: rgb(216, 177, 129);
}

#nav a:hover {
    color:aliceblue;
    background-color: #5e0202;
}

/* TITULOS */

h1{
    color: rgb(216, 177, 129);
    
}

h3{
    color:rgb(216, 177, 129) ;
}

h2{
    color: rgb(216, 177, 129);
}

/* SLIDER DE IMG */

.carousel-inner{
    max-height: 39rem;
}

/* INTRO */

p{
  color:#a89c9c; 
}

/* PIE DE PAGINA */

footer{
    background-color:#a89c9c
}

footer p{
    color:#5e0202;
}

#iconos{
    color:#a89c9c ;
}
footer a{
    color: #5e0202;
}

/* MENU */


.menu-section {
    box-shadow: 0px 0px 20px 0px;
    padding: 40px;
    margin-bottom: 30px;
}

.menu-item {
    margin-bottom: 20px;
}




.menu-item p {
    font-size: 1.1rem;
}

/*------- HEADER HISTORIA  -------*/

 
/* ----- EVENTOS ----- */

#titulo-eventos{
    color: #a89c9c;
}










/* Agrega otros estilos CSS según sea necesario para tus elementos */


































/* MEDIA QUERIES PANTALLA SM */
@MEDIA (max-width:768px) {
    #intro{
        width: 90%   !important;
    }
}

